<!DOCTYPE html>
<html lang="en" ng-app="awesome">
<head>
	<meta charset="UTF-8">
	<title>Laravel.BR</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<div class="jumbotron jumbotron-fluid">
			  <div class="container" ng-controller="filterFormController">
			    <h1 class="display-1 text-center">Laravel BR Awesome</h1>


			    <form>
				  <fieldset class="form-group">
				    <input 
				    	ng-model="query"
				    	type="text" 
				    	class="form-control" 
				    	placeholder="Pesquise por títulos, tags ou categorias...">
				  </fieldset>
				</form>

				<ul class="list-group">
				  <li ng-repeat="item in itens  | filter:query" 
				  	  class="list-group-item">
				  	  <a 
				  	  	ng-click="setFilter(item.type)"
				  	  	title="Clique para filtrar"
				  	  	class="label label-default label-pill pull-right">{{ item.type }}
				  	  </a>
				  	  <a target="_new" ng-href="{{ item.url }}">{{ item.name }}</a>
				  	  
				  	  <div class="tag-list">
				  	  	<a 
							class="label label-pill label-info"
				  	  		ng-repeat="tag in item.tags"
				  	  		title="Clique para filtrar"
				  	  		ng-click="setFilter(tag)">
				  	  		{{ tag }}
				  	  		</a>
				  	  </div>

				  	  </li>
				</ul>
			  </div>
			</div>
	  	</div>
	  </div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
