body, h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

.label + .label {
	margin-left: 5px;
}

.widget {
	padding: 10px;
	color: #FFF;
	margin-bottom: 30px;
}

.widget footer .label{
	color: #2F1212;
	font-weight: 100;
}

.widget .title {
	font-size: 1.7em;
}

#form-filter{
	margin-bottom: 30px;
}